.wrap header .gnb{padding-bottom: 0;}
.wrap header .gnb ul li.prom{padding: 9px 20px 10px; border:1px solid #666; border-radius: 20px;}
.wrap header .gnb ul li.prom a{color: #000;}
.wrap header .gnb ul li a{display: block; font-size: 16px; font-weight: 700; line-height: 1; color: #666;}
.wrap header .gnb ul li.product a{padding-left: 15px; font-size: 14px; font-weight: 400; line-height: 1; border-left: 1px solid #666;}

main{width: 100%; padding: 180px 0 0;}

.title{width: 1500px; margin: 0 auto 50px; text-align: center;}
.title h2{margin-bottom: 40px;}
.title .search_bar{width: 100%; margin-top: 105px; text-align: right;}

.room_sl{width: 100%; height: 100%; position: relative;}
.room_sl .prev_btn{display: block; width: 70px; height: 70px; position: absolute; top: 260px; left: 60px; z-index: 5; cursor: pointer;}
.room_sl .prev_btn img{width: 100%;}
.room_sl .next_btn{display: block; width: 70px; height: 70px; position: absolute; top: 260px; right: 60px; z-index: 5; cursor: pointer;}
.room_sl .next_btn img{width: 100%;}
.room_sl .swiper-container{width: 1500px; margin: 0 auto 190px; padding: 0 0 60px;}

.room_sl .swiper-container .swiper-slide{display: block; width: 100%; position: relative;}
.room_sl .swiper-container .swiper-slide::after{content: ''; display: block; visibility: hidden; clear: both;}
.room_sl .swiper-container .swiper-slide .visual{width: 1140px; float: right;}
.room_sl .swiper-container .swiper-slide .visual img{width: 100%;}

.room_sl .swiper-container .swiper-slide .desc{width: 480px; height: 480px; padding: 80px 0 0 60px; position: absolute; left: 0; top: 65px; z-index: 5; background-color: #f2f2f2;}
.room_sl .swiper-container .swiper-slide .desc dl{display: block; width: 100%; margin-bottom: 150px;}
.room_sl .swiper-container .swiper-slide .desc dl dt{margin-bottom: 30px;}

.room_sl .swiper-container .swiper-pagination{display: inline-block; width: 252px; margin: 0 auto; bottom: 7px; left: 50%; transform: translate(-50%, 0);}
.room_sl .swiper-container .swiper-pagination:after{content: url('../images/room_sl_stop_btn.png');display: block; width: 7px; height: 14px; position: absolute; right: -25px; top: 3px; z-index: 5; cursor: pointer;}
.room_sl .swiper-container .swiper-pagination span{display: inline-block; width: 80px; height: 4px; margin: 0 6px 0 0; background-color: #000; border-radius: 0;}
.room_sl .swiper-container .swiper-pagination span:last-child{margin: 0;}

.broad_sl{width: 1500px; margin: 0 auto 160px; overflow: hidden;}

.broad_sl .tit{width: 100%; height: 100%; margin-bottom:60px; text-align: left; position: relative;}
.broad_sl .tit p{margin-top: 30px;}
.broad_sl .tit .more_btn{display: block; width: 70px; height: 26px; position: absolute; right: 0; bottom: -5px; z-index: 5;}
.broad_sl .tit .more_btn a{display: block; width: 100%; height: 100%;}
.broad_sl .tit .more_btn a img{width: 100%;}

.broad_sl .swiper-container{width: 100%; padding: 0 0 48px; }
.broad_sl .swiper-container .swiper-slide{width: 460px; position: relative;}
.broad_sl .swiper-container .swiper-slide .visual{width: 460px; height: 290px;}
.broad_sl .swiper-container .swiper-slide .visual img{width: 100%;}

.broad_sl .swiper-container .swiper-slide .desc{width: 100%; padding: 35px 0 0 20px;}
.broad_sl .swiper-container .swiper-slide .desc dl{display: block; width: 100%;}
.broad_sl .swiper-container .swiper-slide .desc dl dt{margin-bottom: 70px;}

.broad_sl .swiper-container .swiper-pagination{height: 2px; top: unset !important; bottom: 0;}
.broad_sl .swiper-container .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background: #000;}


.digital_sl{width: 1500px; margin: 0 auto 160px; overflow: hidden;}

.digital_sl .tit{width: 100%; height: 100%; margin-bottom:60px; text-align: left; position: relative;}
.digital_sl .tit p{margin-top: 30px;}
.digital_sl .tit .more_btn{display: block; width: 70px; height: 26px; position: absolute; right: 0; bottom: -5px; z-index: 5;}
.digital_sl .tit .more_btn a{display: block; width: 100%; height: 100%;}
.digital_sl .tit .more_btn a img{width: 100%;}

.digital_sl .swiper-container{width: 100%; padding: 0 0 48px; }
.digital_sl .swiper-container .swiper-slide{width: 460px; position: relative;}
.digital_sl .swiper-container .swiper-slide .visual{width: 460px; height: 290px;}
.digital_sl .swiper-container .swiper-slide .visual img{width: 100%;}

.digital_sl .swiper-container .swiper-slide .desc{width: 100%; padding: 35px 0 0 20px;}
.digital_sl .swiper-container .swiper-slide .desc dl{display: block; width: 100%;}
.digital_sl .swiper-container .swiper-slide .desc dl dt{margin-bottom: 70px;}

.digital_sl .swiper-container .swiper-pagination{height: 2px; top: unset !important; bottom: 0;}
.digital_sl .swiper-container .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background: #000;}


.media_sl{width: 1500px; margin: 0 auto 320px; overflow: hidden;}

.media_sl .tit{width: 100%; height: 100%; margin-bottom:60px; text-align: left; position: relative;}
.media_sl .tit p{margin-top: 30px;}
.media_sl .tit .more_btn{display: block; width: 70px; height: 26px; position: absolute; right: 0; bottom: -5px; z-index: 5;}
.media_sl .tit .more_btn a{display: block; width: 100%; height: 100%;}
.media_sl .tit .more_btn a img{width: 100%;}

.media_sl .swiper-container{width: 100%; padding: 0 0 48px; }
.media_sl .swiper-container .swiper-slide{width: 460px; position: relative;}
.media_sl .swiper-container .swiper-slide .visual{width: 460px; height: 290px;}
.media_sl .swiper-container .swiper-slide .visual img{width: 100%;}

.media_sl .swiper-container .swiper-slide .desc{width: 100%; padding: 35px 0 0 20px;}
.media_sl .swiper-container .swiper-slide .desc dl{display: block; width: 100%;}
.media_sl .swiper-container .swiper-slide .desc dl dt{margin-bottom: 70px;}

.media_sl .swiper-container .swiper-pagination{height: 2px; top: unset !important; bottom: 0;}
.media_sl .swiper-container .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background: #000;}